body{
  background-color:rgb(10, 7, 46);
}
.main{
  max-width: 400px;
  margin: 10vh auto 0 auto;
  
  
}
#next{
  text-align: right;
  height: 150px;
  line-height: 70px;
  padding: 16px 8px;
  font-size: 35px;
  background-color: #fff;
  border-radius: 7px;
}
.buttons{
  border-radius: 7px;
  display: grid;
  border-bottom: 1px solid #999;
  border-left: 1px solid #999;
  grid-template-columns: 1fr 1fr 1fr 1fr;

}
.buttons > div {
  border-top: 1px solid #999;
  border-right: 1px solid #999;
  font-size: 30px ;


}
.button{
  border: 0.5px solid #999;
  line-height: 100px;
  text-align:center;
  font-size: 25px;
  cursor: pointer;
  background-color:rgb(66, 60, 60);
  color: #fff;
}
#equal{
  background-color: rgb(60, 60, 236);
  color: #fff;
}
#char{
  background-color: rgb(230, 165, 45);
  color:#fff
}